<ion-header>
  <ion-toolbar>
    <ion-title>
      EJERCICIO 4: REORGANIZACIÓN EN PANTALLAS MEDIANAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="column" id="columnA">
      <p>Columna A</p>
    </div>
    <div class="column" id="columnB">
      <p>Columna B</p>
    </div>
  </div>

 <!-- Botón para ir a la página1 -->
 <ion-button href="home" expand="full">EJERCICIO 1</ion-button>

 <!-- Botón para ir a la página2 -->
 <ion-button href="ejercicio2" expand="full">EJERCICIO 2</ion-button>

 <!-- Botón para ir a la página3 -->
 <ion-button href="ejercicio3" expand="full">EJERCICIO 3</ion-button>

 <!-- Botón para ir a la página4 -->
 <ion-button href="ejercicio4" expand="full">EJERCICIO 4</ion-button>

 
 <!-- Botón para ir a la página4 -->
 <ion-button href="ejercicio5" expand="full">EJERCICIO 5</ion-button>



</ion-content>