<ion-header>
  <ion-toolbar>
    <ion-title>
      EJERCICIO 1. MEDIA QUERIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <ion-card-header>
     
      Card Header
    </ion-card-header>
    <ion-card-content>
      
      Card Content
    </ion-card-content>
  </ion-card>

 <!-- Botón para ir a la página1 -->
 <ion-button href="home" expand="full">EJERCICIO 1</ion-button>

 <!-- Botón para ir a la página2 -->
 <ion-button href="ejercicio2" expand="full">EJERCICIO 2</ion-button>

 <!-- Botón para ir a la página3 -->
 <ion-button href="/page3" expand="full">EJERCICIO 3</ion-button>

 <!-- Botón para ir a la página4 -->
 <ion-button href="/page4" expand="full">EJERCICIO 4</ion-button>

 
 <!-- Botón para ir a la página4 -->
 <ion-button href="/page4" expand="full">EJERCICIO 5</ion-button>





</ion-content>
