<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EJERCICIO 5: RESPONSIVE DESIGN EN DETALLES DEL PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6">
     
        <img src="https://static.vecteezy.com/system/resources/previews/017/048/273/non_2x/cute-dog-illustration-dog-kawaii-chibi-drawing-style-dog-cartoon-vector.jpg" alt="Producto">
      </ion-col>
      <ion-col size="12">
       
        <h2>Perrito guaton en venta</h2>
        <p>Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto Descripción detallada del producto </p>
      </ion-col>
    </ion-row>
  </ion-grid>

 
 <!-- Botón para ir a la página1 -->
 <ion-button href="home" expand="full">EJERCICIO 1</ion-button>

 <!-- Botón para ir a la página2 -->
 <ion-button href="ejercicio2" expand="full">EJERCICIO 2</ion-button>

 <!-- Botón para ir a la página3 -->
 <ion-button href="ejercicio3" expand="full">EJERCICIO 3</ion-button>

 <!-- Botón para ir a la página4 -->
 <ion-button href="ejercicio4" expand="full">EJERCICIO 4</ion-button>

 
 <!-- Botón para ir a la página4 -->
 <ion-button href="ejercicio5" expand="full">EJERCICIO 5</ion-button>


</ion-content> 