<ion-header>
  <ion-toolbar>
    <ion-title>PoKeDeX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre o ID del Pokémon</ion-label>
    <ion-input type="text" [(ngModel)]="pokemonQuery"></ion-input>
  </ion-item>
  <ion-button (click)="getPokemonData(pokemonQuery)">Buscar Pokémon</ion-button>
  <ion-card *ngIf="pokemonName || pokemonImage">
    <ion-card-header>
      {{ pokemonName }}
    </ion-card-header>
    <ion-card-content>
      <img [src]="pokemonImage" alt="Pokemon Image" *ngIf="pokemonImage">
    </ion-card-content>
  </ion-card>
</ion-content>