<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 4</ion-title>
  </ion-toolbar>
</ion-header>


   <ion-content class="ion-padding">

<ion-grid>

<ion-row>


<ion-col class="a" size="6">


    <ion-card>
   
      <ion-button>BOTON 1</ion-button> <ion-button [disabled]="true">BOTON 1</ion-button>
    </ion-card> 


</ion-col>


<ion-col class="a" size="6">

        <ion-card>
         
          <ion-button>BOTON 2</ion-button> <ion-button [disabled]="true">BOTON 2</ion-button>

         </ion-card>

</ion-col>


</ion-row>

</ion-grid>

   </ion-content>

